<!-- <%@page contentType="text/html" pageEncoding="UTF-8"%> -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
<div class="container home" id="container">
	
	<div class="form-container sign-in-container">
		<img src="/static/logo-white.png" alt="img">
		<div class="heading">
			<h1 class="home-heading">Face it</h1>
			<h4>Attendance made easy</h4>
			<form action="/teacher-login" method="get">
				<button  name="forwardBtn" type="submit" class="home-button">Teacher</button>
			</form>
			<form action="/student-login" method="get">
				<button  name="Student-button" type="submit" class="home-button">Student</button>
			</form>
		</div>		
	</div>	
</div>
</body>
</html>
